#### NEXTCLOUD DB ####
DB_PASSWORD=dbpassword
DB_DATABASE=nextcloud
DB_USER=nextcloud
MY_EMAIL=kevinjean438@gmail.com
MY_DOMAIN=tp3-kev.duckdns.org
DUCKDNS_TOKEN=a11ccb54-c1f3-4585-a3c8-51f6c94ee854
COMPOSE_PROJECT_NAME=paperless
